#requirements.txt with the packages you used

## Extracting text data from PDF files in Python. 
PyPDF2==3.0.1

pip install PyPDF2

# To read the PDF
import PyPDF2

# Natural Language Toolkit for extracting text data from PDF files in Python.
pip install nltk
import nltk
import string

import nltk; nltk.download('popular')

from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

############################################################################################################