#requirements.txt with the packages you used
pandas==1.5.3
numpy==1.26.4
et-xmlfile==1.1.0
grobid-client-python==0.0.8
lxml==5.2.1
openpyxl==3.1.2
plotly==5.20.0
PyPDF2==3.0.1
PyMuPDF==1.24.2
PyMuPDFb==1.24.1
regex==2023.12.25
seaborn==0.13.2
squarify==0.4.3
zipp==3.17.0
kaleido==0.2.1

'''Additional Setup Instructions'''
# 1. Download GROBID
# wget https://github.com/kermitt2/grobid/archive/0.8.0.zip

# 2. Unzip the downloaded file
# unzip 0.8.0.zip

''' Run GROBID in terminal before running the notebook'''
# 3. Change to the GROBID directory
# cd grobid-0.8.0

# 4. Run GROBID
# ./gradlew run

# Python Import Statements

# Imports for handling PDF files
import fitz  # PyMuPDF for PDF rendering and manipulation
import PyPDF2  # PyPDF2 for PDF file reading and manipulationimport PyPDF2

# Standard library imports
# Import for working with ZIP files
import zipfile

# Import for handling HTTP requests
import requests
from bs4 import BeautifulSoup


# Standard library imports
import io
from io import BytesIO
import urllib.request
from urllib.request import urlopen

import os
import re
import sys
import textwrap
import subprocess
import regex as re
import numpy as np
import pandas as pd

from xml.etree import ElementTree as et
from lxml import etree
from collections import Counter

from grobid_client.grobid_client import GrobidClient

import matplotlib.pyplot as plt
import matplotlib as mpl
from matplotlib import colormaps
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import matplotlib.ticker as ticker

import squarify
import seaborn as sns

import plotly.graph_objects as go
import plotly.io as pio

# from numpy import stack
# from sympy import li
############################################################################################################

'''
Optional Installations

Note: Ensure that necessary packages are installed. 
Uncomment the following lines if installations are needed.
'''
# !pip install PyPDF2
# !pip install xhtml2pdf requests lxml 
# !pip install xhtml2pdf requests
# !pip install lxml
# !pip install beautifulsoup4
# !pip install pandas
# !pip install numpy
# !pip install regex
# !pip install zipfile
# !pip install lxml
# !pip install pandas openpyxl
# !pip install beautifulsoup4 requests lxml regex
# !pip install pandas openpyxl
# !pip install kaleido 
# !pip install -U kaleido

